.example-card {
    max-width: 300px;
    height: 450px;
    margin: 20px;
    float:left;
  }
  /* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f1f1f1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: green;
  color: #fff;
}

.button{
  background-color: green;
  background-image:green;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 50%;
  z-index: 9;
  border: 0;
}
