.det{

    height: 1px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    }
img
{
 height: 300px;
 width: 300px;
 align-items:center;
 justify-content: center;
 flex-direction: column;
 margin-left: 100px;

}