<head>
    <title>Healthy Food Dietary Page</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="#"><img src="http://localhost/logo.jpg" alt="Logo"></a>
      </div>
      <nav class="nav">
        <ul>
          <li><button class="button"(click)="navigateToCart()">YOUR OWN DIET PLAN</button>
          <li><button class="button"(click)="navigateToContact()">contact-us</button></li>
        </ul>
      </nav>
    </header>
    
    <main class="main">
      <section class="intro">
        <h1>Healthy Food Dietary Page</h1>
        <p>Find a variety of healthy and delicious food recipes to help you stay on track with your dietary goals.</p>
      </section>
      
      <section class="recipes">
        <h2>Menu</h2>
        <ul class="recipe-list">
          <li>
            <img src="http://localhost/recipe1.png" alt="Recipe 1">
            <div class="recipe-info">
              <h3>Nutrition value</h3>
              <p>To know the nutritional values of the specified elements with certain qunatity checkout.It will help you plan your own diet.</p>
              <button class="button" (click)="navigateToNutrition()">Nutrition</button>
            </div>
          </li>
          <li>
            <img src="http://localhost/recipe2.jpg" alt="Recipe 2">
            <div class="recipe-info">
              <h3>Forum</h3>
              <p>A forum to discuss everything about a healthy body and a healthy mind.Most of the members give good advice and accept criticism well if their proposed ideas are flawed.</p>
              <button class="button"(click)="navigateToVegetables()">Forum</button>
            </div>
          </li>
          <li>
            <img src="http://localhost/recipe3.png" alt="Recipe 3">
            <div class="recipe-info">
              <h3>Dietary plan</h3>
              <p>
                The truth is that no one diet is best for everyone — and what works for you may not work for someone else.
                
                This article reviews the 9 most popular weight loss diets and the science behind them.</p>
                <button class="button" (click)="navigateToDietPlan()">Diet plan</button>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </body>
  
  
  
  
  
